<div class="container">
  <div class="row my-4 mx-auto">
    <% @images.each do |image| %>
    <div class="card col-lg-auto mr-2 my-2", style="width: 20rem;">
        <%= attachment_image_tag(image, :style_image, :fill, 200, 200, fallback: "logo.png") %>
          <div id="icon-btn-<%= image.id %>">
           <%= render 'customers/likes/like', image: image %>
          </div>
      </div>
    <% end %>
  </div>
</div>