<div class="container">
  <div class="row mt-3">
    <div class="col-lg-5">
      <%= attachment_image_tag @customer, :profile_image, size:"300x300", fallback: "woman.png", class: "border border-secondary rounded-circle" %>
    </div>
    <div class="col-lg-5">
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>
        <div class="form_group row mt-3">
          <%= f.attachment_field :profile_image %>
          <%= f.submit "登録", class: "btn btn-outline-dark" %>
         </div>
      <% end %>
    </div>
  </div>
</div>