<div class="container">
  <div class="row">
    <p>写真</p>
    <h1>My favorite salon(ロゴ制作)</h1>
  </div>
  <div class="row">
    <%= link_to "初めての方はこちらから",new_customer_registration_path, class: "btn btn-outline-info" %>
    <%= link_to "登録済みの方はこちらから",new_customer_session_path, class: "btn btn-outline-info" %>
    <%= link_to "ゲストログイン",customers_guest_sign_in_path,method: :post,class: "btn btn-outline-info" %>
  </div>
  

</div>

<p></p>
