<div class="container">
  <div class="row mt-4">
    <h5>美容室情報</h5>
  </div>
    <div class="row">
    <p><%= @salon.name %></p>

      <div class="col-12 text-center">
        <h3><span>02</span>希望日時を選んでください</h3>
        <p>3ヶ月先まで予約することができます。</p>
      </div>
      <div class="col-12 mt-3">
        <%= week_calendar events: @reservations do |date, reservations| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>
</div>