<div class="container">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h3><span>03</span>メニューを選んでください</h3>
    </div>
    <%= link_to "次へ進む", step4_reservations_path %>
  </div>
</div>