<div class="container">
  <div class="row my-4">
    <% current_customer.liked_images.each do |like| %>
      <%= attachment_image_tag like, :style_image, size: "300x300", fallback: "logo.png" %>
    <% end %>
  </div>
</div>