<div class="form mx-auto" style="width: 700px;">
<%= form_with model: @salon, url: step2_salons_signup_index_path,method: :get, local: true do |f| %>
    <!--= render "devise/shared/error_messages", resource: resource %>-->

  <div class="form_group row mt-3">
    <%= f.label :municipality_id_id, "住所(市区町村)", class: "col-lg-4" %>
    <%= f.collection_select(:municipality_id_id, @city, :id, :city_name, {prompt: "市区町村を選択してください"},class: "city-form") %>
  </div>

<% end %>
</div>