<div class="container">
  <h3 class="title my-4 text-center">登録完了</h3>
  <p>登録が完了しました。お疲れさまでした。</p>
  <p>こちらからメニューと店舗イメージを登録してください</p>
  <%= link_to "メニュー登録", root_path %>
  <%= link_to "店舗イメージ登録", root_path %>
</div>