<div class="container">
  <h3 class="title my-4 text-center">登録完了</h3>
  <p>登録が完了しました。店舗のイメージ画像とメニューを登録してください</p>

   <%= link_to "メニュー登録",salons_menus_path, class: "btn btn-dark" %>
   <%= link_to "イメージ画像登録", salons_salons_prf_image_path, class: "btn btn-dark" %>
</div>