<div class="container">
  <h3 class="title my-4 text-center">メニュー登録</h3>

  <div class="form mx-auto" style="width: 700px;">
    <%= form_with model: @menu, url: confirm_salons_signup_index_path,method: :get, local: true do |f| %>
    <!--= render "devise/shared/error_messages", resource: resource %>-->
    <p>※会員登録後、「メニュー登録」画面から各施術の平均時間と料金の更新をお願いいたします</p>

      <div class="form_group row mt-3">
        <%= f.label :name, "メニュー名", class: "col-lg-4" %>
        <%= f.collection_check_boxes:menu_ids, Menu.all, :id, :name, include_hidden: false %>
      </div>

    <div class="actions mt-3">
      <%= f.submit "確認画面へ進む", class: "form-control btn btn-outline-dark" %>
    </div>

    <% end %>
  </div>
</div>